// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.img
    width 100px
    height 140px

.img2
    width 140px
    height 220px
    
#first
    background url(../images/teamwork.jpg)
    background-size 100%
    
.pd
    position absolute
    padding-top 50px
    color #B00
    
.leftlist li
    text-align left
    list-style url
    
.bespoke-before
    transform translateY(-330px) translateZ(-240px) rotateX(90deg) 
    
.bespoke-after
    transform translateY(330px) translateZ(-240px) rotateX(-90deg)

.left
    text-align left
    list-style url
.tebal
    font-weight bold

table, th, td
    border 2px solid black
    border-collapse collapse
th
    width 20%
td
    width 33%
    height 30px
.bbb
    background-color black
    color white
.ddd
    background-color red
.iii
    background-color yellow
.sss
    background-color lightgreen
.ccc
    background-color lightblue
#tp
    width 80%
    height 75%
#tp h3, #blake
    color black
    
.kp
    height 30%
    width 47%
    float left
    margin 5px
    border-radius 10px
    height 46%
    padding-top 12%
    