doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pengembangan Diri

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(id="first")
        h2(class="pd") Pengembangan Diri
        
      section
        h2.bullet Hermanto
        ul
         img(src="images/H13.png" class="img")
         li Lahir di Bagan siapi &ndash; api, Riau
         li Lahir pada tanggal 06 November 1992
         li Saat ini sedang bekerja di PT. Canang Indah Sebagai Staff IT
         li Hoby saya bermain game dan mengeksporasi seputar tips &amp; trik Komputer
         li ---> <a href="https://www.facebook.com/TheH13" target="_blank"> Di Sini</a> <---

      section
       img(src="images/sutris.png" class="img2")
       h2.bullet Sutris Hendrawan
       h3.bullet
        ul 
          li 131113093
          li Hobby Gaming
          li Ti-C Sore
          li link FB Gan >> <a href="https://www.facebook.com/sun.k.yong.3"> Sutris </a> <<
         
      section
        img(src="images/gaara.png" class="img")
        h1 Achmad Dzaki
        h2 131113832
        h3 Ti-C Sore
        h3 <a href="https://plus.google.com/u/0/115546171412418788418/posts">zackzack9999@gmail.com</a>

      section
       img(src="images/jayC.jpg" class="img")
       h2.bullet Jay Clarens
       h3 131113824
       h3 Hobby Gamers Dota2
       h3 Salah satu Player dota2 dari Team D'Generation saat Ideafuse Festifal Mikroskil MD2C
       h3 FB: <a href="https://www.facebook.com/Clarens.95"> Jay Clarens </a>
       h3 Twitter: @anneJeee
       h3 Pin: 55BB3BA3
       
      section
        h2.bullet Jalan Menuju Sukses
        ul
          li Mengenal Diri
          li Mengenal Watak dan Temperamen
          li Mengenal Talenta Diri
          
          
      section
        h1 Mengenal diri
        h3.bullet Manfaat &amp; tujuan mengenal diri
        ul(class="leftlist")
          li Mengenal dirinya lebih jauh sehingga mengetahui peran yang harus diwujudkan
          li Memahami potensi diri sehingga mengarahkan diri kepada tujuan hidup
          li Mengetahui apa yang harus dikerjakan dan dikembangkan
      
      section
        h1  Watak
        h3 Totalitas dari keadaan-keadaan dan cara bereaksi jiwa terhadap perangsang. (G. Ewald)
        h3.bullet 2 jenis watak :
        ul(class="leftlist")
         li Watak yang dibawa sejak lahir
         li Watak yang diperoleh
         
      section
        h1 Temperamen
        h3 Gejala Karakteristik daripada sifat Emosi Individu.
        p Termasuk juga mudah tidaknya terkena rangsangan emosi, kekuatan serta kecepatannya bereaksi, kualitas kekuatan suasana hati, segala cara fluktuasi dan intensitas suasana hati, karenanya terutama berasal dari keturunan. (G. Allport)
      
      section
        h1.bullet Talents
        h3.bullet Kelebihan Potensi Diri yang melekat pada diri seseorang dan menjadi "Pembeda", dengan lainnya.
      
      section
        h3.bullet Talenta dapat dikelompokan menjadi 8, yaitu :
        ul(class"leftlist")
         li 1. Verbal/Linguistik
         li 2. Logis/Matematis
         li 3. Visual
         li 4. Kinestetik
         li 5. Musika
         li 6. Interpersonal
         li 7. Intrapersonal
         li 8. Natualis
      
      section
        h2.bullet Langkah Mengenal Talenta
        ul
         li 1. Temukan dahulu apa sebenarnya talenta hidup kita. (Trial and Error)
         li 2.Teruslah Belajar(Keep Learning Keep Growing)
         li 3.Mentoring (Tol Kesuksesan)
         li 4.Bangun impian berdasarkan talenta kita (Pondasi Kuat)
         li 5.Miliki sikap yang benar terhadap kegagalan
         li 6.Komunitas Talenta
         li 7.Temukan tempat untuk mempraktekkan talenta Anda
      
      section
        h2 Mindset and Opportunities about Entrepreneur
        h4 85% Orang Kaya di dunia bersumber dari bisnis dan berprofesi sebagai enterpreneur.
        h4 15% Orang yang berhasil kaya dari pilihan karier bekerja secara professional dan berhasil menjadi Top Eksekutif.
        h4 5% Orang kaya itu bersumber bukan dari dirinya, tetapi hibah warisan dari orang tuanya.
      
      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
