doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pengembangan Diri

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(id="first")
        h2(class="pd") Pengembangan Diri
        
      section
        h2.bullet Hermanto
        ul
         li Saya lahir di Bagan siapi &ndash; api, Riau
         li Lahir pada tanggal 06 November 1992
         li Saat ini sedang bekerja di PT. Canang Indah Sebagai Staff IT
         li Hoby saya bermain game dan mencari hal &ndash; baru terutama tentang tips &amp; trik Komputer
         li ---> <a href="https://www.facebook.com/TheH13"> Di Sini</a> <---

      section
        h2 NAMA :   Sutris Hendrawan 
        h2 NIM  :   131113093
        h2 KELAS:   TI-C(Sore)
        
      section
        img(src="images/gaara.png" class="zackimg")
        h1 Achmad Dzaki
        h2 131113832
        h3 Ti-C Sore
        h3 <a href="https://plus.google.com/u/0/115546171412418788418/posts">zackzack9999@gmail.com</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
